* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.section--element {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: unset;
}

.section--element__images {
    display: grid;
    grid-column-start: unset;
    grid-column-end: unset;
}

.bg-intro {
    background-image: url("image-mockups.png");
    background-size: 350px;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 1;
    height:420px;
    width: 100%;
    z-index: 10;
}

.image-mockups {
    background-image: url("bg-intro-mobile.svg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: unset;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 1;
    height: 400px;
    width: 100%;
    z-index: 1;
}

.element__description {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: unset;
    grid-row-end: unset;
}

#key-features {
    background-color: hsl(0, 0%, 98%);
}

.key-feature {
    display: inline-block;
    padding: 8px;
    vertical-align: top;
}

.section__description {
    color: hsl(233, 8%, 62%);
    font-size: 13px;
    margin-left: 16px;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.key-feature__image {
  padding: 1rem 0;
}

.key-feature__description {
    color: hsl(233, 8%, 62%);
    font-size: 13px;
}

.key-feature, .section__description, .section-title {
    text-align: center;
}

#key-features, div, ul, .key-feature {
    width: 100%;
    padding: 0;
    margin: 0;
} 

.shared-features {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
}

.section-title {
    font-size: 25px;
    font-family: sans-serif;
}

.description {
    padding: 8px;
}

.title__name {
    color: hsl(233, 8%, 62%);
    font-size: 8px;
}

.li-subtitle {
    color: hsl(235, 16%, 57%);
    font-size: 13px;
}

.li-features {
    color: hsl(233, 8%, 62%);
    font-size: 10px;
}

.description__image img {
    width: 100%;
    height: 200px;
}

@media only screen and (min-width: 40rem) and (min-height: 40rem) {
    .section--element {
        height: 500px;
        grid-template-columns: 300px 300px;
        grid-template-rows: repeat(2, 300px);
    }
    
    .section--element__images {
        grid-column-start: 3;
        grid-column-end: -1;
    }

    .bg-intro {
        background-image: url("bg-intro-desktop.svg");
        background-size: 900px;
        background-repeat: no-repeat;
        background-position: left bottom;
        height: 600px;
    }

    .image-mockups {
        background-image: url("image-mockups.png");
        background-size: 650px;
        background-repeat: no-repeat;
        background-position: 200px bottom;
        height: 700px;
        z-index: 10;
    }

    .element__description {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 1;
        margin-top: 15%;
        margin-left: 25%;
    }

    .request {
        margin-left: unset;
    }

    #key-features {
        margin-top: 5rem;
        padding: 1rem;
    }    

    .key-feature {
        margin-left: 25px;
    }

    .key-feature, .section__description, .section-title {
        text-align: unset;
    }

    .key-feature {
        width: 250px;
    }
    
    #key-features, div, ul {
        width: initial;
    } 
    
}